<%= form_for([@bet, @participation]) do |f| %>
  <% if participation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(participation.errors.count, "error") %> prohibited this participation from being saved:</h2>

      <ul>
      <% participation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Choose an amount: <span id="bet_amount"><%= @bet.min_bet %></span></h2>
  <div class="field">
    <div class="slider">
      <%= f.range_field :amount, in: @bet.min_bet..@bet.max_bet, oninput: 'update_amount()', value: @bet.min_bet %>
    </div>
  </div>

  <h2>Make your choice:</h2>
  <div class="field">
    <%= f.collection_radio_buttons(:choice_id, @bet.choices, :id, :value, checked: @bet.choices.first.id) do |b| %>
      <div class="radio">
        <%= b.radio_button %>
        <%= b.label do %>
          <%= b.text %>
        <% end %>
        <img src=<%= image_url('check.png') %>></img>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Place bet" %>
  </div>

<% end %>
