	<%= form_for(:session, url: session_url, :html => {:id => 'signin_form'}) do |f| %>
		<div class="field">
			<%= f.label 'Username' %>
			<%= f.text_field :name %>
		</div>

		<div class="field">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>

		<div class="actions">
			<%= f.submit "Login" %>
		</div>
	<% end %>
