<% ids.each do |id| %>
  <% bet = Bet.find(id) %>
      <% if current_user and current_user.role == 'admin' %>
        <%= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete" %>
      <% end %>
      <div class="bet_block">
        <button class="toggle_details", onclick="toggleblock(<%= bet.id %>)">
          <div class="summary", id="summary_<%= bet.id %>">
            <table>
              <tr>
              <td class="index_name"><%= bet.name %></td>
              <td class="index_deadline">Deadline: <%= bet.deadline %></td>
              <td class="index_slots">Free slots: <%= bet.max_participants - bet.participations.count %></td>
              <td class="index_min">Min bet: <%= bet.min_bet %></td>
              <td class="index_max">Max bet: <%= bet.max_bet %></td>
              <td class="index_author">Created by: <%= bet.user.name %></td>
              </tr>
            </table>
          </div>
        </button>
        <div class="details", id="content_<%= bet.id %>">
  <div class="bet_show">
  <p>
    <strong>Description:</strong>
    <%= bet.description %>
  </p>

  <p>
    <strong>Choices:</strong>
    <ul>
      <% bet.choices.each do |choice| %>
        <li><%= choice.value %> <%= percentage_and_winnings(choice) %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Max participants:</strong>
    <%= bet.max_participants %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= bet.kind %>
  </p>

  <% if bet.participations.count > 0 and current_user %>
  <p>
    <strong>Participants:</strong>
    <ul>
      <% bet.participations.each do |parti| %>
        <li><%= parti.user.name %> (<%= parti.amount %> points)</li>
      <% end %>
    </ul>
  </p>
  <% end %>

  <%= participate_button(bet) %>

  <% if has_winner(bet)%>
    <p>
      <strong>Winner choice:</strong>
      <%= bet.winner.choice.value %>
    </p>
  <%else%>
    <%= close_button(bet) %>
  <%end%>
  </div>
  </div>
  </div>
<% end %>