<% content_for :javascript_includes do %>
  <%= javascript_include_tag "toggle_bet.js" %>
<% end %>
<h1>Bets</h1>
<%= link_to 'New Bet', new_bet_path, class: "round_button" if current_user %>
<div class="bet_list">
  <% @bets.applicable.not_owned(current_user).sort_by {|bet| bet.deadline}[0 .. 9].each do |bet| %>
    <% if current_user and current_user.role == 'admin' %>
      <%= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete" %>
    <% end %>
    <div class="bet_block">
      <button class="toggle_details", onclick="toggleblock(<%= bet.id %>)">
        <div class="summary", id="summary_<%= bet.id %>">
          <table>
            <tr>
            <td class="index_name"><%= bet.name %></td>
            <td class="index_deadline">Deadline: <%= bet.deadline %></td>
            <td class="index_slots">Free slots: <%= bet.max_participants - bet.participations.count %></td>
            <td class="index_min">Min bet: <%= bet.min_bet %></td>
            <td class="index_max">Max bet: <%= bet.max_bet %></td>
            <td class="index_author">Created by: <%= bet.user.name %></td>
            </tr>
          </table>
        </div>
      </button>
      <div class="details", id="content_<%= bet.id %>">
        <%= render partial: "show", locals: { bet: bet } %>
      </div>
    </div>
  <% end %>
</div>