<h1>Bets</h1>
<%= link_to 'New Bet', new_bet_path, class: "round_button" if current_user %>

<table class="index-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Deadline</th>
      <th>Available spaces</th>
      <th>Kind</th>
      <th>Min bet</th>
      <th>Max bet</th>
      <th>Creator</th>
      <% if current_user and current_user.role == 'admin' %>
        <th colspan="1"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= link_to bet.name, bet %></td>
        <td><%= bet.description %></td>
        <td><%= bet.deadline %></td>
        <td><%= bet.max_participants - bet.participations.count %></td>
        <td><%= bet.kind %></td>
        <td><%= bet.min_bet %></td>
        <td><%= bet.max_bet %></td>
        <td><%= bet.user.name %></td>
        <% if current_user and current_user.role == 'admin' %>
          <td><%= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
