<p id="notice"><%= notice %></p>

<h1>Bets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Deadline</th>
      <th>Max participants</th>
      <th>Kind</th>
      <th>Min bet</th>
      <th>Max bet</th>
      <th>Username</th>
      <th>Options</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= bet.name %></td>
        <td><%= bet.description %></td>
        <td><%= bet.deadline %></td>
        <td><%= bet.max_participants %></td>
        <td><%= bet.kind %></td>
        <td><%= bet.min_bet %></td>
        <td><%= bet.max_bet %></td>
        <td><%= bet.user.name %></td>
        <td><%= bet.choices.count %></td>
        <td><%= link_to 'Show', bet %></td>
        <td><%= link_to 'Edit', edit_bet_path(bet) %></td>
        <td><%= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bet', new_bet_path %>
