<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bet.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bet.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @bet.deadline %>
</p>

<p>
  <strong>Max participants:</strong>
  <%= @bet.max_participants %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @bet.kind %>
</p>

<p>
  <strong>Min bet:</strong>
  <%= @bet.min_bet %>
</p>

<p>
  <strong>Max bet:</strong>
  <%= @bet.max_bet %>
</p>

<p>
  <strong>Choices:</strong>
  <ul>
    <% @bet.choices.each do |choice| %>
      <li><%= choice.value %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Participations:</strong>
  <ul>
    <% @bet.participations.each do |parti| %>
      <li><%= parti.user.name %></li>
      <li><%= parti.choice.value %></li>
    <% end %>
  </ul>
</p>

<% if has_winner(@bet)%>
  <p>
    <strong>Winner choice:</strong>
    <%= @bet.winner.choice.value %>
  </p>
<%end%>

<%= close_button(@bet) %> |
<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
