<div class="bet_show">

<%= participate_button(@bet) %>

<p>
  <strong>Name:</strong>
  <%= @bet.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bet.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @bet.deadline %>
</p>

<p>
  <strong>Max participants:</strong>
  <%= @bet.max_participants %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @bet.kind %>
</p>

<p>
  <strong>Minimum bet:</strong>
  <%= @bet.min_bet %>
</p>

<p>
  <strong>Maximum bet:</strong>
  <%= @bet.max_bet %>
</p>

<p>
  <strong>Choices:</strong>
  <ul>
    <% @bet.choices.each do |choice| %>
      <li><%= choice.value %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Participants:</strong>
  <ul>
    <% @bet.participations.each do |parti| %>
      <li><%= parti.user.name %> (<%= parti.amount %> points)</li>
    <% end %>
  </ul>
</p>

<% if has_winner(@bet)%>
  <p>
    <strong>Winner choice:</strong>
    <%= @bet.winner.choice.value %>
  </p>
<%else%>
  <%= close_button(@bet) %>
<%end%>
</div>