<p>
  <strong>Name:</strong>
  <%= @bet.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bet.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @bet.deadline %>
</p>

<p>
  <strong>Max participants:</strong>
  <%= @bet.max_participants %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @bet.kind %>
</p>

<p>
  <strong>Min bet:</strong>
  <%= @bet.min_bet %>
</p>

<p>
  <strong>Max bet:</strong>
  <%= @bet.max_bet %>
</p>

<p>
  <strong>Choices:</strong>
  <ul>
    <% @bet.choices.each do |choice| %>
      <li><%= choice.value %></li>
    <% end %>
  </ul>
</p>

<%= participate_button(@bet) %>
