<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form_content">

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, value: '' %>
  </div>

  <div class="field">
    <%= f.label :mail %>
    <%= f.email_field :mail, value: '' %>
  </div>

  <div class="field">
    <%= f.label :balance %>
    <%= f.number_field :balance %>
  </div>

  <%= f.label :avatar %>
</div>

<div class='avatar_field'>
  <div class="field">
    <%= f.file_field :avatar %>
  </div>
</div>

  <% if is_admin %>
    <div class="form_content">
      <div class="field">
        <%= f.label :role %>
        <%= f.select :role, ['regular', 'admin', 'mod'] %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>