<%if current_user%>
	<div class="user_profile">

			<div class='profile_container'>
				<div class="profile_content">
					<img src=<%= profile_picture(@user) %> id='profile-avatar'>
					<p id="username">
					  <strong><%= @user.name %></strong>
					</p>

					<p>
					  <strong>Mail:</strong>
					  <%= @user.mail %>
					</p>
				</div>
			</div>

		<div class="profile_container">
			<div class="profile_content">
			<p>
			  <strong>Balance:</strong>
			  <%= @user.balance %> points
			</p>

			<% if is_admin %>
				<p>
				  <strong>Role:</strong>
				  <%= @user.role %>
				</p>
			<% end %>
			<p>
				<strong>Friends:</strong>
				<% @user.friends.each do |friend| %>
				<p class='friend'>
				<%= link_to friend.name, friend %>
				<%= destroy_friendship_button(friend) %>
				</p>
				<% end %>
			</p>
			</div>

			<% if current_user and (@user == current_user or is_admin) %>
			<div class="profile_content">
			<p>
				<strong>Pending friend requests:</strong>
				<% @user.request_targets.each do |request| %>
				<p class="request"><%= request.name %> <%= request_button(request) %></p>
				<% end %>
			</p>

			<p>
				<strong>Received friend requests:</strong>
					<% @user.request_senders.each do |request| %>
					<p class="request"><%= request.name %>
					<% if @user == current_user %>
						<%= accept_friendship_button(request) %> | <%= reject_friendship_button(request) %>
					</p>
					<% end %>
					<% end %>
			</p>
			</div>
			<% end %>


			</div>
			
			<%= calendar_link(@user) %>
			<%= edit_profile(@user) %>
			<%= request_button(@user) %>

			<div class="bet_summary">
				<div class="column">
					<div class="column_title">
						Bets participating in
					</div>
					<div class="column_content">
						<% @user.participations.active.sort_by {|part| part.bet.name}.each do |part| %>
							<p class="bet_link"><%= link_to "#{part.bet.name} (#{part.amount} points)", part.bet %></p>
						<% end %>
					</div>
				</div>
				<div class="column">
					<div class="column_title">
						Created bets
					</div>
					<div class="column_content">
						<% @user.bets.accessible(current_user).sort_by {|bet| [bet.deadline, bet.name]}.each do |bet| %>
							<p class="bet_link"><%= link_to "#{bet.name} (Deadline: #{bet.deadline})", bet %></p>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>

<% end %>
