<%if current_user%>
	<%= link_to 'Edit profile', edit_user_path(@user), class: 'round_button' if @user == current_user or is_admin %>

	<p>
		<img src=<%= profile_picture(@user) %> id='profile-avatar'>
	</p>
	<p>
	  <strong>Name:</strong>
	  <%= @user.name %>
	</p>

	<p>
	  <strong>Mail:</strong>
	  <%= @user.mail %>
	</p>

	<p>
	  <strong>Balance:</strong>
	  <%= @user.balance %>
	</p>

	<% if is_admin %>
		<p>
		  <strong>Role:</strong>
		  <%= @user.role %>
		</p>
	<% end %>
	<p>
		<strong>Friends:</strong>
		<ul>
			<% @user.friends.each do |friend| %>
			<%= link_to friend.name, friend %>
			<%= destroy_friendship_button(friend) %>
			<% end %>
		</ul>
	</p>

	<p>
		<strong>Pending friend requests:</strong>
		<ul>
			<% @user.request_targets.each do |request| %>
			<%= request.name %>
			<% end %>
		</ul>
	</p>

	<p>
		<strong>Received friend requests:</strong>
		<ul>
			<% @user.request_senders.each do |request| %>
			<%= request.name %>
			<% if @user == current_user %>
				<%= accept_friendship_button(request) %> | <%= reject_friendship_button(request) %>
			<% end %>
			<% end %>
		</ul>
	</p>

	<%= request_button(@user) %>

<%end%>
